@import url('https://fonts.googleapis.com/css?family=Comfortaa|Open+Sans:300,400,600,700');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
	color: inherit;
}

/* ========== header and navbar styling =========*/

header {
	width: 100%;
	padding: 10px 40px;
	border-bottom: 1px solid #E5E5E5;
	background-color: white;
	position: fixed;
	top: 0;
	transition: all 0.25s ease;
	z-index: 3;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	flex-wrap: wrap;
}
header h1 {
	font-size: 1.1rem;
	font-weight: 600;
	color: #101920;
	margin-left: 185px;
	margin-top: 10%;
}

@media (max-width: 600px) {
	h1 {
		display: none;
	}
}
.logoo{
	position: relative;
	font-size: larger;
	font-weight: bolder;
	margin-top: -10px;
	margin-left: -190vh;
}

header .user-details span {
	margin-left: 20px;
	font-size: 1.2rem;
	color: #828282;
	padding: 0 15px 10px 15px;
}

header .user-details span:hover {
	color: #101920;
	border-bottom: 2px solid #101920;
	cursor: pointer;
}

nav {
	padding: 15px 15px 0 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

nav ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto;
}
.search-container{
	width: 490px;
	display: block;
	margin: 0 auto;
  }
  
  input#search-bar{
	margin: 0 125%;
	margin-top: -5%;
	width: 50%;
	height: 35px;
	padding: 0 30px;
	font-size: 1rem;
	border: 1px solid #D0CFCE;
	outline: none;
	border-radius: 10vh;
  }



@media (max-width: 600px) {
	nav ul {
		margin: unset;
		display: unset;
		position: relative;
		right: 30px;
	}
}

nav li {
	list-style-type: none;
}

nav li a {
	margin: 0 15px;
	padding: 10px 5px 15px 5px;
	color: #828282;
	text-transform: uppercase;
	letter-spacing: 0.05rem;
	font-size: 0.8rem;
}

nav li a:hover {
	color: #EB0028;
	border-bottom: 2px solid #EB0028;
}

nav button {
 /*remove default styling*/
	/*outline: none;*/
	border: none;
	box-shadow: none;

	min-width: 110px;
	height: 50px;
	background: #EB0028;
	color: white;
	font-size: 0.9rem;
	border-radius: 2px;
	position: relative;
	z-index: 1;
}
#hero{
	padding-top: 5%;
	padding-left: 5%;
	font-size: xx-large;
}
#hero.span{
	color: #EB0028;
}
/* Lazy Load Styles */
.card-image {
	display: block;
	min-height: 20rem; /* layout hack */
	background: #fff center center no-repeat;
	background-size: cover;
	filter: blur(3px); /* blur the lowres image */
  }
  
  .card-image > img {
	display: block;
	width: 100%;
	opacity: 0; /* visually hide the img element */
  }
  
  .card-image.is-loaded {
	filter: none; /* remove the blur on fullres image */
	transition: filter 1s;
  }
  
  
  
  
  /* Layout Styles */
  html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	font-size: 16px;
	font-family: sans-serif;
  }
  
  .card-list {
	display: block;
	margin: 1rem auto;
	padding: 0;
	font-size: 0;
	text-align: center;
	list-style: none;
  }
  
  .card {
	display: inline-block;
	
	width: 90%;
	max-width: 20rem;
	margin: 1rem;
	font-size: 1rem;
	text-decoration: none;
	overflow: hidden;
	box-shadow: 0 0 3rem -1rem rgba(0,0,0,0.5);
	transition: transform 0.1s ease-in-out, box-shadow 0.1s;
  }
  
  .card:hover {
	transform: translateY(-0.5rem) scale(1.0125);
	box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
  }
  
  .card-description {
	display: block;
	padding: 1em 0.5em;
	color: #515151;
	text-decoration: none;
  }
  
  .card-description > h2 {
	margin: 0 0 0.5em;
  }
  
  .card-description > p {
	margin: 0;
  }

/*Heading*/

#home h2
{
  font-weight:300;
  letter-spacing:0.07em;
  margin-left:10%;
  margin-top: 20%;
}
#home h5
{
  margin-top:-20px;
  margin-left: 10%;
  font-weight:400;
  letter-spacing:1.9em;
}
#home h2>span:first-child
{
  font-size:3em;
}
#home h2>span:nth-child(2)
{
  font-size:2em;
  margin-left:-0.2em;
  font-weight:400;
}
#contact .contact {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	width: 90%;
}
.showcase {
	width: 100%;
	height: 400px;
	background: url('https://i.ibb.co/zGSDGCL/slide1.png') no-repeat center center/cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: flex-end;
	padding-bottom: 50px;
	margin-bottom: 20px;
  }
  
  .showcase h2, .showcase p {
	margin-bottom: 10px;
  }
  
  .showcase .btn {
	margin-top: 20px;
  }
 
  
  .content-container {
	margin-left: 50px;
  }
  
  .featured-content {
	height: 50vh;
	padding: 50px;
  }
  
  .featured-title {
	width: 500px;
	padding-left: 50%;
	height: 280px;
  }
  
  .featured-desc {
	width: 100%;
	color: lightgray;
	margin: 1em;
	margin-bottom: 20vh;
	margin-right: 10%;
  }
  
  .featured-button {
	background-color: #bf0030;
	color: white;
	padding: 10px 20px;
	margin-top: -27%;
	margin-left: 3%;
	border-radius: 10px;
	border: none;
	outline: none;
	font-weight: bold;
  }
  
  .movie-list-container {
	padding: 0 3px;
  }
  h1{
	font-size: 3rem;
  }
  h1, h3{
	width: 100%;
	text-align: center;
	padding: 0;
	margin: 1% 0;
  }
  header, section {
	color: #FFF;
	font-family: 'Montserrat', sans-serif;
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
  
  }
  .column {
	margin: 2%;
	flex: 1 1 0;
	position: relative;
	padding: 1rem;
	min-height: 33vh;
	overflow: hidden;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	transition: all ease-in-out .3s;
	min-width: calc(33.33% / 2);
  }
  section:nth-of-type(5) .column:first-of-type {
	flex-grow: 2;
	flex-shrink: 2;
	flex-basis: 22px;
  }
  section:nth-of-type(6) .column:nth-of-type(2) {
	flex-grow: 4;
	flex-shrink: 4;
	flex-basis: 66px;
  }
  .column img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
	transition: all ease-in-out .5s;
  }
  .column:hover {
	  color: rgba(0, 0, 0, 0.75);
	  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  /* Color Overlay position */
  .column::after{
	  content: '';
	  position: absolute;
	  width: 100%;
	  height: 100%;
	  top: 0;
	  left: 0;
	  transition: all ease-in-out .5s;
  }
  /* Removed effects to show original on hover */
  .column:hover::after, .column:hover, .column:hover img{
	filter: none;
	-webkit-filter: none;
	mix-blend-mode: unset !important;
	background: transparent;
  }
  
  /* COLORS */
  
  .green{
	background-color: #00ff36;
  }
  .green img{
	 mix-blend-mode: multiply;
	-webkit-filter: grayscale(100%) contrast(1.2);
	filter: grayscale(100%) contrast(1);
  }
  .green::after{
	background-color: #23278a;
	mix-blend-mode: lighten;
  }
  
  .red-purple{
	background-color: #e41c2d;
  }
  .red-purple img{
	 mix-blend-mode: multiply;
	-webkit-filter: grayscale(100%) contrast(1);
	filter: grayscale(100%) contrast(.8);
  }
  .red-purple::after{
	background-color: #1d3162;
	mix-blend-mode: lighten;
  }
  
  
  .retro{
  background-color: #f1e3a0;
  }
  .retro img{
	 mix-blend-mode: darken;
	-webkit-filter: grayscale(100%) contrast(2);
	filter: grayscale(100%) contrast(2);
  }
  .retro::after{
	background: linear-gradient(180deg, #f430a9, #f2e782);
	mix-blend-mode: lighten;
  }
  
  .vintage{
	background-color: #caeaf2;
  }
  .vintage img{
	 mix-blend-mode: multiply;
	-webkit-filter: grayscale(100%) contrast(1.5);
	filter: grayscale(100%) contrast(1.5);
  }
  .vintage::after{
	background-color: #2cd6e1;
	mix-blend-mode: lighten;
  }
  
  .blue-light{
	background-color: #181e59;
  }
  .blue-light img{
	 mix-blend-mode: lighten;
	-webkit-filter: grayscale(100%) contrast(.8);
	filter: grayscale(100%) contrast(.8);
  }
  .blue-light::after{
	background-color: #E7E1A6;
	mix-blend-mode: multiply;
  }
  
  .blue{
	background-color: #77acd4;
  }
  .blue img{
	 mix-blend-mode: multiply;
	-webkit-filter: grayscale(100%) contrast(1.2);
	filter: grayscale(100%) contrast(1.2);
  }
  .blue::after{
	background-color: #033dc5;
	mix-blend-mode: lighten;
  }
  
  
  .dark-red{
	background-color: #ed060b;
  }
  .dark-red img{
	  -webkit-filter: grayscale(100%) contrast(1.2);
	  filter: grayscale(100%) contrast(1.2);
	  mix-blend-mode: lighten;
  }
  .dark-red::after{
	 background-color: #70e4ee;
	 mix-blend-mode: multiply;
  }
  
  .flat-retro{
	background-color: #FCA300;
  }
  .flat-retro img{
	 mix-blend-mode: darken;
	-webkit-filter: grayscale(100%) contrast(1.5);
	filter: grayscale(100%) contrast(1.5);
  }
  .flat-retro::after{
	 background-color: #e23241;
	mix-blend-mode: lighten;
  }
  
  .teal{
	background-color: #d7a621;
  }
  .teal img{
	 mix-blend-mode: multiply;
	-webkit-filter: grayscale(100%) contrast(1.2);
	filter: grayscale(100%) contrast(1.2);
  }
  .teal::after{
	background-color: #0c6249;
	mix-blend-mode: lighten;
  }
  
  .purple{
	background-color: #88169d;
  }
  .purple img{
	-webkit-filter: grayscale(100%) contrast(1.2);
	  filter: grayscale(100%) contrast(1.2);
	mix-blend-mode: lighten;
  }
  .purple::after{
	mix-blend-mode: hard-light;
	background: linear-gradient(to top left, #75d775, #321a5b);
  }
  
  .pink{
	background-color: #FCA300;
  }
  .pink img{
	mix-blend-mode: darken;
  }
  .pink::after{
	background: #282581;
	mix-blend-mode: lighten;
	-webkit-filter: contrast(1.1);
	filter: contrast(1.1);
  }
  
  
  
  .yellow{
	background-color: #e0de2c;
  }
  .yellow img{
	 mix-blend-mode: multiply;
	-webkit-filter: grayscale(100%) contrast(.8);
	filter: grayscale(100%) contrast(.8);
  }
  .yellow::after{
	background-color: #b71310;
	mix-blend-mode: lighten;
  }
  
  .orange{
	background-color: #f65e35;
  }
  .orange img{
	 mix-blend-mode: multiply;
	-webkit-filter: grayscale(100%) contrast(1.2);
	filter: grayscale(100%) contrast(1.2);
  }
  .orange::after{
	background-color: #1e3265;
	mix-blend-mode: lighten;
  }
  
  .blue-red{
	background-color: #E50914;
  }
  .blue-red img{
	-webkit-filter: grayscale(100%) contrast(1.2);
	  filter: grayscale(100%) contrast(1.2);
	opacity:.8;
  }
  .blue-red::after{
	 mix-blend-mode: lighten;
	  -webkit-filter: contrast(1.1);
	  filter: contrast(1.1); 
	background-color: #282581;
  }
  
  .gold{
	background-color: #367ABD ;
  }
  .gold img{
	 mix-blend-mode: lighten;
	-webkit-filter: grayscale(100%) contrast(1);
	filter: grayscale(100%) contrast(.8);
  }
  .gold::after{
	background-color: #F9ED3A;
	mix-blend-mode: multiply;
  }
  .footer {
	display: flex;
	flex-flow: row wrap;
	padding: 30px 30px 20px 30px;
	color: #2f2f2f;
	background-color: #ffffff;
	border-top: 1px solid #e5e5e5;
  }
  
  .footer > * {
	flex:  1 100%;
  }
  
  .footer__addr {
	margin-right: 1.25em;
	margin-bottom: 2em;
  }
  
  .footer__logo {
	font-family: 'Comfortaa', cursive;
	font-weight: 400;
	text-transform: lowercase;
	font-size: 1.5rem;
	position: absolute;
	margin-left:-46%;
	margin-top: -2%;
  }
  
  .footer__addr h2 {
	margin-top: 1.3em;
	font-size: 15px;
	font-weight: 400;
  }
  
  .nav__title {
	font-weight: 400;
	font-size: 15px;
  }
  
  .footer address {
	font-style: normal;
	color: #999;
  }
  
  .footer__btn {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 36px;
	max-width: max-content;
	background-color: rgb(33, 33, 33, 0.07);
	border-radius: 100px;
	color: #2f2f2f;
	line-height: 0;
	margin: 0.6em 0;
	font-size: 1rem;
	padding: 0 1.3em;
  }
  
  .footer ul {
	list-style: none;
	padding-left: 0;
  }
  
  .footer li {
	line-height: 2em;
  }
  
  .footer a {
	text-decoration: none;
  }
  
  .footer__nav {
	display: flex;
	  flex-flow: row wrap;
  }
  
  .footer__nav > * {
	flex: 1 50%;
	margin-right: 1.25em;
  }
  
  .nav__ul a {
	color: #999;
  }
  
  .nav__ul--extra {
	column-count: 2;
	column-gap: 1.25em;
  }
  
  .legal {
	display: flex;
	flex-wrap: wrap;
	color: #817e7e;
  }
	
  .legal__links {
	display: flex;
	align-items: center;
  }
  
  .heart {
	color: #2f2f2f;
  }
  
  @media screen and (min-width: 24.375em) {
	.legal .legal__links {
	  margin-left: auto;
	}
  }
  
  @media screen and (min-width: 40.375em) {
	.footer__nav > * {
	  flex: 1;
	}
	
	.nav__item--extra {
	  flex-grow: 2;
	}
	
	.footer__addr {
	  flex: 1 0px;
	}
	
	.footer__nav {
	  flex: 2 0px;
	}
  }
  .movie-list{
	width: 100%;
	text-align: left;
	color: rgb(163, 161, 161);
	margin-bottom: 20px;
	font-weight: 200;
  }
  
  .movie-list-head{
	padding: 20px 0;
	display: flex;
	flex-direction: row;
  }
  
  .movie-list-head > h2{
	border-bottom: 2px solid #831237;
  }
  
  .wrap-movies{
	width: 100%;
	display: grid;
	row-gap: 2%;
	column-gap: 1%;
	grid-template-columns: repeat(6 ,1fr);
	
  }
  
  .movie {
	position: relative;
	text-align: center;
	cursor: pointer;
	overflow: hidden;
	padding-top: 140%;
	min-width: 150px;
  }
  
  .movie img{
	width:100%;
	object-fit: contain;
	position: absolute;
	left:0;
	bottom:0;
	top: 0;
	right: 0;
	transition: opacity 0.1s ease-in;
  }
  
  .movie:hover img{
	opacity: 0.7; 
  }
  
  .movie .title {
	text-transform: capitalize;
	text-align: center;
	width: 100%;
	position: absolute;
	bottom: 0%;
	font-size: 12px;
	color: white;
	background: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 50% ,rgba(0,0,0,1) 100%);
	display: flex;
	justify-content: center;
  }
  
  .movie .title h2 {
	width: 70%;
  }
  
  .movie .play-button{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 70px;
	color: red;
	opacity: 0;
	transition: opacity 0.1s ease-in;
  }
  
  .movie:hover .play-button{
	opacity: 1; 
  }
  
  .quality {
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 1;
	border-radius: 3px;
	background-color: #111;
	color: white ;
	text-transform: uppercase;
	padding: 5px;
  }
  
  .episodes {
	position: absolute;
	top: 7px;
	right: 7px;
	z-index: 1;
	border-radius: 50%;
	color: white;
	background: rgba(224,45,104,0.9);
	height: 35px;
	width: 35px;
	text-transform: uppercase;
	padding: 10px;
	font-size: 16px;
	line-height: 18px;
  }
  
  .episodes i{
	display: block;
	font-weight: bold;
	font-size: 20px;
	font-style: normal;
  }
  
  @media(max-width:1200px){
	.wrap-movies{
	  gap: 20px;
	  grid-template-columns: repeat(4,1fr);
	  
	}
	
	.movie .title h2{
	  font-size: 15px;
	}
	
	.movie .play-button {
	  font-size: 70px;
	}
  
	
  }
  
  @media(max-width:760px){
	.wrap-movies{
	  gap: 20px;
	  grid-template-columns: repeat(2,1fr);
	  
	}
	
	.movie .title h2{
	  font-size: 18px;
	}
	
	.movie .play-button {
	  font-size: 100px;
	}
  
	
  }